# Node modules
node_modules/

# correction
correction/

docs/

# Build output
dist/
build/
out/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage directory
coverage/

# Misc
.DS_Store
*.local